.duicart {
    width: 1200px;
    // height: 1200px;
    margin: 0 auto;
    // background-color: pink;

    .between {
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;

        .font16 {
            font-size: 16px;
            font-weight: 700;
        }

        .blueBtn {
            color: #0085cf;
            font-size: 14px;
            cursor: pointer;
        }
    }

    //------------------------------
    table,
    td {
        border-collapse: collapse;
    }

    table {
        width: 1200px;
        text-align: center;
        color: #666;
    }

    table tr {
        display: block;
        margin-top: 15px;
        border: 1px solid #e4e4e4;
        background: #fff;
        padding: 10px 0;
    }

    table tr td {
        width: 200px;
    }

    table tr td:nth-child(1) {
        width: 240px;
    }

    table tr td:nth-child(2) {
        width: 260px;
    }

    table tr td:nth-child(4) {
        width: 180px;
    }

    table tr td:nth-child(5) {
        width: 180px;
    }

    table tr td:nth-child(5) {
        width: 160px;
    }

    .t {
        .name {
            span {
                display: inline-block;
                width: 200px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                cursor: pointer;
            }

            span:hover {
                color: #e5008d;
            }

        }

        .count {
            input {
                outline: none;
                border: 1px solid #999;
                border-radius: 2px;
                padding-left: 3px;
                height: 20px;
                width: 25px;
                vertical-align: middle;
            }

            button {
                width: 20px;
                height: 20px;
                line-height: 16px;
                vertical-align: middle;
                margin-right: 5px;
            }

            button:nth-child(3) {
                margin-left: 5px;
            }
        }

        .qian {
            font-size: 20px;
            font-weight: 500;
            color: #e5008d;
        }

        .jf {
            font-size: 12px;
            margin-left: 4px;
            color: #e5008d;
        }

        .de {
            div {
                margin: 0 auto;
                margin-top: 20px;
                cursor: pointer;
                font-size: 12px;

                i {
                    font-size: 16px;
                }
            }

            div:hover {
                color: #e5008d;
            }
        }

        
    }

    // 合计
    .bot {
        width: 1200px;
        height: 62px;
        background-color: #e7e7e7;
        margin-top: 20px;
        line-height: 62px;
        position: relative;
        color: #666;
    }

    td input[type=button] {
        width: 20px;
    }

    .bot div {
        float: left;
    }

    .xuan {
        margin-left: 40px;
    }

    .yi {
        margin-left: 450px;
        margin-right: 50px;
        /* border: 1px solid #000; */
    }

    .heji {
        /* width: 272px;
    border: 1px solid #000; */
        /* margin-left: 510px; */
        text-align: right;
        line-height: 25px;
        padding-top: 12px;

        p {
            margin: 0;
        }
    }

    .bot span {
        display: inline-block;
        margin: 0 15px;
        color: #e5008d;
        font-size: 20px;
    }

    .jiesuan a {
        display: inline-block;
        width: 120px;
        height: 60px;
        border: 1px solid #e5008d;
        background-color: #e5008d;
        text-align: center;
        text-decoration: none;
        color: #e7e7e7;
        position: absolute;
        right: 0;
        font-size: 20px;
    }
    .nooo {
        display: none;

    }

    .xianshi p {
        line-height: 400px;
        text-align-last: center;
    }

    .xianshi {
        display: block;
    }
}