.h_title{
    width: 100%;
    background-color: #eee;
    a{
        text-decoration: none;
    }
    .h_center{
        width: 1200px;
        margin: 0 auto;
        height: 35px;
        line-height: 35px;
        position: relative;
        .h_left{
            span{
                font-size: 12px;
                color:#666;
            }
            .h_login{
                font-size: 12px;
                color:#e3007c;
                margin-left: 30px;
                text-decoration: none;
            }
        }
        .h_right{
            height: 100%;
            position: absolute;
            right: 0;top: 0;
            ul{
                list-style: none;
                font-size: 12px;
                color: #666!important;
                li{
                    float: left;
                    cursor: pointer;
                    span{
                        margin: 0 20px;
                    }
                    a{
                        color:#666!important;
                        
                    }
                }
            }
        }
    }
}
